<!DOCTYPE HTML>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments/header::header(~{::link})}">
    <link rel="stylesheet" href="/css/memberDetail.css" />
</head>

<body>
<header th:replace="~{fragments/bodyHeader:: bodyHeader}"></header>

<main class="container" style="max-width: 400px;">
    <div class="py-4 text-center">
        <h2>회원정보</h2>
    </div>

    <div class="row g-5">
        <div class="col">
            <div th:object="${memberDto}">
                <input type="hidden" th:field="*{id}">

                <div class="row g-3">
                    <div class="col-12" style="text-align: center;">
                        <img th:src="*{profileImg != null} ? @{'/upload/' + *{profileImg}} : @{/images/default_profile.png}"
                            alt="profile-img" class="profile-img"/>
                        <button type="button" class="btn btn-outline-secondary btn-sm mt-3" data-bs-toggle="modal" data-bs-target="#profileImgModal">프로필 사진변경</button>
                    </div>

                    <div class="col-12">
                        <label th:for="email" class="form-label">이메일</label>
                        <input type="email" th:field="*{email}" class="form-control" disabled readonly>
                    </div>

                    <div class="col-12">
                        <label th:for="name" class="form-label">이름</label>
                        <input type="text" th:field="*{name}" class="form-control" disabled readonly>
                    </div>

                    <div class="col-12">
                        <label th:for="phone" class="form-label">연락처</label>
                        <input type="text" th:field="*{phone}" class="form-control" disabled readonly>
                    </div>

                    <div class="col-12">
                        <label th:for="birthday" class="form-label">생일</label>
                        <input type="date" th:field="*{birthday}" class="form-control" disabled readonly>
                    </div>

                    <div class="col-12">
                        <label th:for="addressLv1" class="form-label">지역</label><br>
                        <div class="row">
                            <div class="col">
                                <select th:field="*{addressLv1}" id="addressLv1" class="form-select" disabled>
                                    <option th:text="*{addressLv1}" th:value="*{addressLv1}"></option>
                                </select>
                            </div>
                            <div class="col">
                                <select th:field="*{addressLv2}" id="addressLv2" class="form-select" disabled>
                                    <option th:text="*{addressLv2}" th:value="*{addressLv2}"></option>
                                </select>
                            </div>
                        </div>
                        <div th:if="*{addressLv3 != null}" class="row mt-2">
                            <div class="col-6">
                            </div>
                            <div class="col-6">
                                <select th:field="*{addressLv3}" id="addressLv3" class="form-select" disabled>
                                    <option th:text="*{addressLv3}" th:value="*{addressLv3}"></option>
                                </select>
                            </div>
                        </div>
                    </div> <!-- col -->
                </div> <!-- row -->

                <hr class="my-4">

                <div class="d-grid gap-3">
                    <a class="btn btn-primary" th:href="@{'/members/' + ${session.loginMember.id} + '/update'}" role="button">회원정보 수정</a>
                    <!-- Button trigger modal -->
                    <button type="button" class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#updatePwdModal">비밀번호 변경</button>
                    <button type="button" class="btn btn-outline-secondary" data-bs-toggle="modal" data-bs-target="#deleteModal">회원탈퇴</button>
                </div>

            </div>
        </div> <!-- col -->
    </div> <!-- row -->

    <!-- 프로필 사진변경 Modal -->
    <div class="modal fade" id="profileImgModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="profileImgModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="profileImgModalLabel">프로필 사진변경</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <form th:action="@{'/members/' + ${session.loginMember.id} + '/updateProfileImg'}" method="post" id="changeProfileImgForm" enctype="multipart/form-data">
                    <div class="modal-body">
                        <div th:object="${memberDto}" style="text-align: center;">
                            <img th:src="*{profileImg != null} ? @{'/upload/' + *{profileImg}} : @{/images/default_profile.png}" id="previewImg" alt="preview-image" class="profile-img"/>
                        </div>
                        <div class="my-3">
                            <label for="profileImgInput" class="form-label">새로운 프로필 사진을 선택해주세요.</label>
                            <input type="file" class="form-control" id="profileImgInput" name="attachment">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-outline-secondary ms-0 me-auto" id="useDefaultImgBtn">기본사진 사용</button>
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">취소</button>
                        <button type="submit" class="btn btn-primary">프로필 사진변경</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!-- 비밀번호 변경 Modal -->
    <div class="modal fade" id="updatePwdModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="updatePwdModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="updatePwdModalLabel">비밀번호 변경</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <form th:action="@{'/members/' + ${session.loginMember.id} + '/updatePwd'}" method="post" id="changePwdForm" onsubmit="isUpdatePwdFormValid(event);"> <!-- 비동기 통신에는 onsubmit 사용해야한다. -->
                    <div class="modal-body">
                        <div class="mb-3">
                            <label for="currentPwd" class="col-form-label">기존 비밀번호:</label>
                            <input type="password" class="form-control" id="currentPwd" name="currentPwd" required onblur="removeError(this);">
                            <p class="text-danger my-1" id="currentPwdResult"></p>
                        </div>
                        <div class="mb-3">
                            <label for="newPwd" class="col-form-label">새로운 비밀번호:</label>
                            <input type="password" class="form-control" id="newPwd" name="newPwd" required onblur="removeError(this);">
                            <p class="text-danger my-1" id="newPwdResult"></p>
                        </div>
                        <div class="mb-3">
                            <label for="newPwdCheck" class="col-form-label">새로운 비밀번호 확인:</label>
                            <input type="password" class="form-control" id="newPwdCheck" required onblur="removeError(this);">
                            <p class="text-danger my-1" id="newPwdCheckResult"></p>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">취소</button>
                        <button type="submit" class="btn btn-primary">비밀번호 변경</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!-- 회원탈퇴 Modal -->
    <div class="modal fade" id="deleteModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="deleteModalLabel">회원탈퇴</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <form th:action="@{'/members/' + ${session.loginMember.id} + '/delete'}" method="post" id="deleteForm" onsubmit="isDeleteFormValid(event);">
                    <div class="modal-body">
                        <div class="mb-3">
                            <p class="my-2">정말로 탈퇴하시겠습니까?<br>탈퇴하시려면, 비밀번호를 입력해주세요.</p>
                            <label for="pwdToDelete" class="col-form-label">비밀번호:</label>
                            <input type="password" class="form-control" id="pwdToDelete" name="pwdToDelete" required onblur="removeError(this);">
                            <p class="text-danger my-1" id="pwdToDeleteResult"></p>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">취소</button>
                        <button type="submit" class="btn btn-danger">회원탈퇴</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

</main>

<footer th:replace="~{fragments/footer :: footer}"></footer>

<script th:inline="javascript">
    window.MyApp.memberDetail = {
        profileImg: /*[[${memberDto.profileImg}]]*/ null, //Thymeleaf's JavaScript inlining syntax.
        loginMemberId: /*[[${session.loginMember.id}]]*/ ""
    };
</script>

<script src="/js/memberDetail.js" defer></script>

</body>
</html>
