<!DOCTYPE HTML>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments/header::header(~{})}"></head>

<body>
<header th:replace="~{fragments/bodyHeader:: bodyHeader}"></header>

<main class="container" style="max-width: 400px;">
    <div class="py-4 text-center">
        <h2>회원정보 수정</h2>
    </div>

    <div class="row g-5">
        <div class="col">

            <form th:object="${memberUpdateForm}" th:action="@{'/members/' + *{id} + '/update'}" method="post" class="needs-validation" novalidate>
                <input type="hidden" th:field="*{id}">

                <div class="row g-3">

                    <!-- 이메일 -->
                    <div class="col-12">
                        <span class="text-danger"><b>*</b></span>
                        <label th:for="email" class="form-label">이메일</label>
                        <input type="email" th:field="*{email}" class="form-control validate-input" placeholder="email@example.com" required readonly
                                th:classappend="${#fields.hasErrors('email')} ? 'border-danger' : ''" />
                        <p th:if="${#fields.hasErrors('email')}" th:errors="*{email}" class="text-danger my-1"></p>
                        <div class="invalid-feedback">이메일을 입력해주세요.</div>
                    </div>

                    <!-- 이름 -->
                    <div class="col-12">
                        <span class="text-danger"><b>*</b></span>
                        <label th:for="name" class="form-label">이름</label>
                        <input type="text" th:field="*{name}" class="form-control" required
                                th:classappend="${#fields.hasErrors('name')} ? 'border-danger' : ''" />
                        <p th:if="${#fields.hasErrors('name')}" th:errors="*{name}" class="text-danger my-1"></p>
                        <div class="invalid-feedback">이름을 입력해주세요.</div>
                    </div>

                    <!-- 연락처 -->
                    <div class="col-12">
                        <span class="text-danger"><b>*</b></span>
                        <label th:for="phone" class="form-label">연락처</label>
                        <input type="text" th:field="*{phone}" class="form-control validate-input" placeholder="010-XXXX-XXXX" required
                                th:classappend="${#fields.hasErrors('phone')} ? 'border-danger' : ''" />
                        <p th:if="${#fields.hasErrors('phone')}" th:errors="*{phone}" class="text-danger my-1"></p>
                        <div class="invalid-feedback">연락처를 입력해주세요.</div>
                    </div>

                    <!-- 생일 -->
                    <div class="col-12">
                        <label th:for="birthday" class="form-label">생일</label>
                        <span class=".text-secondary"><small>(선택사항)</small></span>
                        <input type="date" th:field="*{birthday}" class="form-control validate-input"
                                th:classappend="${#fields.hasErrors('birthday')} ? 'border-danger' : ''" />
                        <p th:if="${#fields.hasErrors('birthday')}" th:errors="*{birthday}" class="text-danger my-1"></p>
                        <div class="invalid-feedback">생일을 입력해주세요.</div>
                    </div>

                    <!-- 지역 -->
                    <div class="col-12">
                        <span class="text-danger"><b>*</b></span>
                        <label th:for="lv1Select" class="form-label">지역</label><br>

                        <div class="row">
                            <!-- 지역 Lv1 -->
                            <div class="col">
                                <select th:field="*{addressLv1}" id="lv1Select" class="form-select validate-input" required
                                        th:classappend="${#fields.hasErrors('addressLv1')} ? 'border-danger' : ''" >
                                    <option value="" selected disabled>==선택==</option>
                                    <th:block th:each="lv1 : ${addressLv1List}">
                                        <option th:value="${lv1.id}" th:text="${lv1.name}"></option>
                                    </th:block>
                                </select>
                                <p th:if="${#fields.hasErrors('addressLv1')}" th:errors="*{addressLv1}" class="text-danger my-1"></p>
                                <div class="invalid-feedback">지역을 선택해주세요.</div>
                            </div>

                            <!-- 지역 Lv2 -->
                            <div class="col">
                                <select th:field="*{addressLv2}" id="lv2Select" class="form-select validate-input" required
                                        th:classappend="${#fields.hasErrors('addressLv2')} ? 'border-danger' : ''" >
                                    <option value="" selected disabled>==선택==</option>
                                </select>
                                <p th:if="${#fields.hasErrors('addressLv2')}" th:errors="*{addressLv2}" class="text-danger my-1"></p>
                                <div class="invalid-feedback">지역을 선택해주세요.</div>
                            </div>
                        </div> <!-- row -->

                        <!-- 지역 Lv3 -->
                        <div class="row mt-2">
                            <div class="col-6"></div>
                            <div class="col-6">
                                <select th:field="*{addressLv3}" id="lv3Select" class="form-select validate-input" style="display: none;"
                                        th:classappend="${#fields.hasErrors('addressLv3')} ? 'border-danger' : ''" >
                                    <option value="" selected disabled>==선택==</option>
                                </select>
                                <p th:if="${#fields.hasErrors('addressLv3')}" th:errors="*{addressLv3}" class="text-danger my-1"></p>
                                <div class="invalid-feedback">지역을 선택해주세요.</div>
                            </div>
                        </div>
                        
                    </div>  <!-- 지역 col -->
                    
                    <!-- 상세주소 -->
                    <div class="col-12">
                        <label th:for="detailAddress" class="form-label">상세주소</label>
                        <span class=".text-secondary"><small>(선택사항)</small></span>
                        <input type="text" th:field="*{detailAddress}" class="form-control">
                    </div>

                </div> <!-- row -->

                <hr class="my-4">

                <div class="d-grid gap-3">
                    <button class="w-100 btn btn-primary" type="submit">수정완료</button>
                    <a class="w-100 btn btn-outline-secondary" th:href="@{'/members/' + *{id} + '/detail'}" role="button">취소</a>
                </div>

            </form>

        </div> <!-- col -->
    </div> <!-- row -->
</main>

<footer th:replace="~{fragments/footer :: footer}"></footer>

<script th:inline="javascript">
    window.MyApp.memberForm = {
        addressChildrenMap: /*[[${addressChildrenMap}]]*/ null,
        addressLv1: /*[[${memberUpdateForm.addressLv1}]]*/ null,
        addressLv2: /*[[${memberUpdateForm.addressLv2}]]*/ null,
        addressLv3: /*[[${memberUpdateForm.addressLv3}]]*/ null,
    };
</script>

<!-- signUpForm과 동일한 JS 사용-->
<script src="/js/members/memberForm.js" defer></script>

</body>
</html>
