<!DOCTYPE HTML>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/header:: header}"></head>
<body>
    <div th:replace="~{fragments/bodyHeader:: bodyHeader}"></div>

    <main class="container" style="max-width: 500px;">
        <div class="py-4 text-center">
            <h2>회원정보 수정</h2>
        </div>

        <div class="row g-5">
            <div class="col">
                <form action="/members/update" method="post" th:object="${memberUpdateForm}" class="needs-validation" novalidate>
                    <input type="hidden" th:field="*{id}">

                    <div class="row g-3">

                        <div class="col-12">
                            <span class="text-danger"><b>*</b></span>
                            <label th:for="email" class="form-label">이메일</label>
                            <input type="email" th:field="*{email}" class="form-control" disabled readonly>
                        </div>

                        <div class="col-12">
                            <span class="text-danger"><b>*</b></span>
                            <label th:for="name" class="form-label">이름</label>
                            <input type="text" th:field="*{name}" class="form-control" required
                                   th:classappend="${#fields.hasErrors('name')} ? 'border-danger' : ''" onblur="removeError(this)">
                            <p th:if="${#fields.hasErrors('name')}" th:errors="*{name}" class="text-danger my-1"></p>
                            <div class="invalid-feedback">이름을 입력해주세요.</div>
                        </div>

                        <div class="col-12">
                            <span class="text-danger"><b>*</b></span>
                            <label th:for="phone" class="form-label">연락처</label>
                            <input type="text" th:field="*{phone}" class="form-control" placeholder="010-XXXX-XXXX" required
                                   th:classappend="${#fields.hasErrors('phone')} ? 'border-danger' : ''" onblur="removeError(this)">
                            <p th:if="${#fields.hasErrors('phone')}" th:errors="*{phone}" class="text-danger my-1"></p>
                            <div class="invalid-feedback">연락처를 입력해주세요.</div>
                        </div>

                        <div class="col-12">
                            <label th:for="birthday" class="form-label">생일</label>
                            <input type="date" th:field="*{birthday}" class="form-control"
                                   th:classappend="${#fields.hasErrors('birthday')} ? 'border-danger' : ''" onblur="removeError(this)">
                            <p th:if="${#fields.hasErrors('birthday')}" th:errors="*{birthday}" class="text-danger my-1"></p>
                            <div class="invalid-feedback">생일을 입력해주세요.</div>
                        </div>

                        <div class="col-12">
                            <div class="row gy-3">
                                <div class="col-md-6">
                                    <span class="text-danger"><b>*</b></span>
                                    <label th:for="siDo" class="form-label">주소1 (시/도)</label>
                                    <input type="text" th:field="*{siDo}" class="form-control" required
                                           th:classappend="${#fields.hasErrors('siDo')} ? 'border-danger' : ''" onblur="removeError(this)">
                                    <p th:if="${#fields.hasErrors('siDo')}" th:errors="*{siDo}" class="text-danger my-1"></p>
                                    <div class="invalid-feedback">주소1 (시/도)을 입력해주세요.</div>
                                </div>

                                <div class="col-md-6">
                                    <span class="text-danger"><b>*</b></span>
                                    <label th:for="guGun" class="form-label">주소2 (구/군)</label>
                                    <input type="text" th:field="*{guGun}" class="form-control" required
                                           th:classappend="${#fields.hasErrors('guGun')} ? 'border-danger' : ''" onblur="removeError(this)">
                                    <p th:if="${#fields.hasErrors('guGun')}" th:errors="*{guGun}" class="text-danger my-1"></p>
                                    <div class="invalid-feedback">주소2 (구/군)을 입력해주세요.</div>
                                </div>

                                <div class="col-md-6">
                                    <span class="text-danger"><b>*</b></span>
                                    <label th:for="dongRi" class="form-label">주소3 (동/리)</label>
                                    <input type="text" th:field="*{dongRi}" class="form-control" required
                                           th:classappend="${#fields.hasErrors('dongRi')} ? 'border-danger' : ''" onblur="removeError(this)">
                                    <p th:if="${#fields.hasErrors('dongRi')}" th:errors="*{dongRi}" class="text-danger my-1"></p>
                                    <div class="invalid-feedback">주소2 (구/군)을 입력해주세요.</div>
                                </div>
                            </div>
                        </div>

                    </div>

                    <hr class="my-4">

                    <button class="w-100 btn btn-primary btn-lg" type="submit">수정완료</button>
                </form>
            </div>
        </div>
    </main>

    <div th:replace="~{fragments/footer :: footer}"></div>

    <!-- 부트스트랩 폼 검증 -->
    <script th:inline="javascript">
        // Example starter JavaScript for disabling form submissions if there are invalid fields
        (() => {
          'use strict'

          // Fetch all the forms we want to apply custom Bootstrap validation styles to
          const forms = document.querySelectorAll('.needs-validation')

          // Loop over them and prevent submission
          Array.from(forms).forEach(form => {
            form.addEventListener('submit', event => {
              if (!form.checkValidity()) {
                event.preventDefault()
                event.stopPropagation()
              }

              form.classList.add('was-validated')
            }, false)
          })
        })()
    </script>

    <!-- 서버에서 전달해준 검증에러 지우기 (해당 input에서 다른 곳으로 focus 이동시 작동) -->
    <script>
        function removeError(input) {
            console.log("removeError(input) 실행됨");
            input.classList.remove("border-danger");
            let errorMessage = input.parentElement.querySelector("p.text-danger");
            if (errorMessage) {
                errorMessage.style.display = "none";
            }
        }
    </script>
</body>
</html>
