<!DOCTYPE HTML>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/header:: header}"></head>
<style>
    #profile-img {
        width: 150px;
        height: 150px;
        border-radius: 50%;
        object-fit: cover;
        display: block;
        margin: auto;
    }
</style>
<body>
    <div th:replace="~{fragments/bodyHeader:: bodyHeader}"></div>

    <main class="container" style="max-width: 500px;">
        <div class="py-4 text-center">
            <h2>회원정보</h2>
        </div>

        <div class="row g-5">
            <div class="col">
                <div th:object="${memberUpdateForm}">
                    <input type="hidden" th:field="*{id}">

                    <div class="row g-3">

                        <div class="col-12" style="text-align: center;">
                            <img th:src="@{/images/default_profile.png}" alt="profile-img" id="profile-img"/>
                            <a class="btn btn-outline-secondary btn-sm" href="#" role="button">프로필 사진변경</a>
                        </div>

                        <div class="col-12">
                            <label th:for="email" class="form-label">이메일</label>
                            <input type="email" th:field="*{email}" class="form-control" disabled readonly>
                        </div>

                        <div class="col-12">
                            <label th:for="name" class="form-label">이름</label>
                            <input type="text" th:field="*{name}" class="form-control" disabled readonly>
                        </div>

                        <div class="col-12">
                            <label th:for="phone" class="form-label">연락처</label>
                            <input type="text" th:field="*{phone}" class="form-control" disabled readonly>
                        </div>

                        <div class="col-12">
                            <label th:for="birthday" class="form-label">생일</label>
                            <input type="date" th:field="*{birthday}" class="form-control" disabled readonly>
                        </div>

                        <div class="col-12">
                            <div class="row gy-3">
                                <div class="col-md-6">
                                    <label th:for="siDo" class="form-label">주소1 (시/도)</label>
                                    <input type="text" th:field="*{siDo}" class="form-control" disabled readonly>
                                </div>

                                <div class="col-md-6">
                                    <label th:for="guGun" class="form-label">주소2 (구/군)</label>
                                    <input type="text" th:field="*{guGun}" class="form-control" disabled readonly>
                                </div>

                                <div class="col-md-6">
                                    <label th:for="dongRi" class="form-label">주소3 (동/리)</label>
                                    <input type="text" th:field="*{dongRi}" class="form-control" disabled readonly>
                                </div>
                            </div>
                        </div>

                    </div>

                    <hr class="my-4">

                    <div class="d-grid gap-3">
                        <a class="btn btn-primary" href="/members/update" role="button">회원정보 수정</a>
                        <!-- Button trigger modal -->
                        <button type="button" class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#updatePwModal">비밀번호 변경</button>
                        <button type="button" class="btn btn-outline-secondary" data-bs-toggle="modal" data-bs-target="#deleteAccountModal">회원탈퇴</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- 비밀번호 변경 Modal -->
        <div class="modal fade" id="updatePwModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="updatePwModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="updatePwModalLabel">비밀번호 변경</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <form action="/members/updatePassword" method="post" id="changePasswordForm" onsubmit="return validateUpdatePwForm(event);"> <!-- 비동기 통신에는 onsubmit 사용해야한다. -->
                        <div class="modal-body">
                            <div class="mb-3">
                                <label for="currentPassword" class="col-form-label">기존 비밀번호:</label>
                                <input type="password" class="form-control" id="currentPassword" name="currentPassword" required onblur="removeError(this);">
                                <p class="text-danger my-1" id="currentPasswordResult"></p>
                            </div>
                            <div class="mb-3">
                                <label for="newPassword" class="col-form-label">새로운 비밀번호:</label>
                                <input type="password" class="form-control" id="newPassword" name="newPassword" required onblur="removeError(this);">
                                <p class="text-danger my-1" id="newPasswordResult"></p>
                            </div>
                            <div class="mb-3">
                                <label for="newPasswordCheck" class="col-form-label">새로운 비밀번호 확인:</label>
                                <input type="password" class="form-control" id="newPasswordCheck" required onblur="removeError(this);">
                                <p class="text-danger my-1" id="newPasswordCheckResult"></p>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">취소</button>
                            <button type="submit" class="btn btn-primary">비밀번호 변경</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <!-- 회원탈퇴 Modal -->
        <div class="modal fade" id="deleteAccountModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="deleteAccountModal" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="deleteAccountModal">회원탈퇴</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <form action="/members/delete" method="post" id="deleteForm" onsubmit="return validateDeleteForm(event);">
                        <div class="modal-body">
                            <div class="mb-3">
                                <p class="my-2">정말로 탈퇴하시겠습니까?<br>탈퇴하시려면, 비밀번호를 입력해주세요.</p>
                                <label for="pwdOnDeleteModal" class="col-form-label">비밀번호:</label>
                                <input type="password" class="form-control" id="pwdOnDeleteModal" name="pwdOnDeleteModal" required onblur="removeError(this);">
                                <p class="text-danger my-1" id="pwdOnDeleteModalResult"></p>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">취소</button>
                            <button type="submit" class="btn btn-danger">회원탈퇴</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

    </main>

    <div th:replace="~{fragments/footer :: footer}"></div>

    <!-- 팝업 메시지 -->
    <script th:if="${popUpMessage}">
        alert("[[${popUpMessage}]]");
    </script>

    <!-- 비밀번호 변경 modal 관련 -->
    <script th:inline="javascript">

        async function validateUpdatePwForm(event) {
            event.preventDefault(); // Stop the form from submitting immediately

            const isValid = await isPasswordValid();
            if (isValid) {
                document.getElementById("changePasswordForm").submit(); // Manually submit if validation passes
            }
        }

        async function isPasswordValid() {
            //return isNewPasswordValid() && await isCurrentPasswordValid(); //이렇게 하면 안된다. 왜? isNewPasswordValid()가 false여도 isCurrentPasswordValid()는 실행된다. js 특징...
            if (!isNewPasswordValid()) return false; // Stop if new password is invalid
            return await isCurrentPasswordValid("update"); // Wait for AJAX check
        }

        function isNewPasswordValid() {
            const newPasswordEl = document.getElementById("newPassword");
            const newPasswordCheckEl = document.getElementById("newPasswordCheck");

            const newPassword = newPasswordEl.value;
            const newPasswordCheck = newPasswordCheckEl.value;
            
            if (newPassword.length < 8 || newPassword.length > 20) {
                newPasswordEl.classList.add("border-danger");
                const resultEl = document.getElementById("newPasswordResult");
                resultEl.innerHTML = "비밀번호는 8 ~ 20자이어야 합니다.";
                resultEl.style.display = "block";
                return false;
            }

            if (newPassword !== newPasswordCheck) {
                newPasswordCheckEl.classList.add("border-danger");
                const resultEl = document.getElementById("newPasswordCheckResult");
                resultEl.innerHTML = "입력한 비밀번호가 서로 일치하지 않습니다.";
                resultEl.style.display = "block";
                return false;
            }
            return true;
        }

        function isCurrentPasswordValid(keyword) {
            let currentPassword;
            let checkResultEl;

            if (keyword == "update") {
                currentPassword = document.getElementById("currentPassword").value;
                checkResultEl = document.getElementById("currentPasswordResult");
            } else if (keyword == "delete") {
                currentPassword = document.getElementById("pwdOnDeleteModal").value;
                checkResultEl = document.getElementById("pwdOnDeleteModalResult");
            }

            return new Promise((resolve, reject) => {
                $.ajax({
                    type: "post",
                    url: "/member/checkPassword",
                    data: {
                        "currentPassword": currentPassword
                    },
                    success: function(result) {
                        if (result == "ok") {
                            resolve(true);
                        } else {
                            checkResultEl.innerHTML = "비밀번호가 일치하지 않습니다.";
                            checkResultEl.style.display = "block";
                            resolve(false);
                        }
                    },
                    error: function(error) {
                        console.log("에러발생", error);
                        reject(false);
                    }
                });
            });
        }

        function removeError(input) {
            input.classList.remove("border-danger");
            let errorMessage = input.parentElement.querySelector("p.text-danger");
            if (errorMessage) {
                errorMessage.style.display = "none";
            }
        }
    </script>

    <!-- 회원탈퇴 modal 관련 -->
    <script th:inline="javascript">

        async function validateDeleteForm(event) {
            event.preventDefault();

            const isValid = await isCurrentPasswordValid("delete");
            if (isValid) {
                document.getElementById("deleteForm").submit();
            }
        }
    </script>
    
</body>
</html>
