<!DOCTYPE HTML>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments/header::header(~{::link})}">
    <link rel="stylesheet" href="/css/members/memberList.css" />
</head>

<body>
<header th:replace="~{fragments/bodyHeader:: bodyHeader}"></header>

<main class="container">
    <div class="mb-3">
        <h2>회원목록</h2>
    </div>
    <table class="table table-bordered table-hover">
        <thead class="table-light">
            <tr>
                <th scope="col">#</th>
                <th scope="col">이메일</th>
                <th scope="col">이름</th>
                <th scope="col">연락처</th>
                <th scope="col">생년월일</th>
                <th scope="col" colspan="3">지역</th>
                <th scope="col">자세히</th>
                <!-- TODO 생성일, 마지막 로그인 시간 추가? -->
            </tr>
        </thead>
        <tbody>
            <tr th:each="dto : ${memberListDtos}" class="align-middle">
                <td th:text="${dto.id}"></td>
                <td th:text="${dto.email}"></td>
                <td th:text="${dto.name}"></td>
                <td th:text="${dto.phone}"></td>
                <td th:text="${dto.birthday}"></td>
                <td th:text="${dto.addressLv1}"></td>
                <td th:text="${dto.addressLv2}"></td>
                <td th:text="${dto.addressLv3}"></td>
                <td class="text-center">
                    <a th:href="@{/members/{id}/detail (id=${dto.id})}" class="btn btn-outline-secondary">자세히</a>
                </td>
            </tr>
        </tbody>
    </table>
</main>

<footer th:replace="~{fragments/footer :: footer}"></footer>

</body>
</html>
