<!DOCTYPE HTML>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments/header::header(~{})}"></head>

<body>
<header th:replace="~{fragments/bodyHeader:: bodyHeader}"></header>

<main class="container">

    <div class="mb-3">
        <h2>회원목록</h2>
    </div>

    <!-- 실제 목록 -->
    <table class="table table-bordered table-hover text-center">
        <thead class="table-light">
            <tr>
                <th scope="col">#</th>
                <th scope="col">이메일</th>
                <th scope="col">이름</th>
                <th scope="col">생년월일</th>
                <th scope="col" colspan="3">지역</th>
                <th scope="col">회원구분</th>
                <th scope="col">가입일</th>
                <th scope="col">최근 로그인 일시</th>
                <th scope="col">자세히</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="dto : ${memberListDtos}" class="align-middle">
                <td th:text="${dto.id}"></td>
                <td th:text="${dto.email}"></td>
                <td th:text="${dto.name}"></td>
                <td th:text="${dto.birthday}"></td>
                <td th:text="${dto.addressLv1}"></td>
                <td th:text="${dto.addressLv2}"></td>
                <td th:text="${dto.addressLv3 ?: '-'}"></td>
                <td th:text="${dto.role}"></td>
                <td th:text="${dto.createdDate}"></td>
                <td th:text="${dto.lastLoginTime ?: '로그인 기록없음'}"></td>
                <td>
                    <a th:href="@{/members/{id}/detail(id=${dto.id})}">자세히</a>
                </td>
            </tr>
        </tbody>
    </table>

    <!-- 페이징 -->
    <nav class="row mt-5" aria-label="Page navigation" th:object="${memberListDtos}">
        <ul class="pagination justify-content-center">
    
            <!-- First -->
            <li class="page-item" th:classappend="*{first} ? 'disabled'">
                <a class="page-link" th:href="@{/admin/members(page=1)}">
                    <i class="bi bi-chevron-double-left"></i>
                </a>
            </li>

            <!-- Previous -->
            <li class="page-item" th:classappend="*{hasPrevious()} ? '' : 'disabled'">
                <a class="page-link" th:href="@{/admin/members(page=${currentPage - 1})}">
                    <i class="bi bi-chevron-left"></i>
                </a>
            </li>

            <!-- Page Numbers -->
            <li class="page-item" th:each="pageNum : ${pageNumbers}" th:classappend="${pageNum} == ${currentPage} ? 'active'">
                <a class="page-link" th:href="@{/admin/members(page=${pageNum})}" th:text="${pageNum}">1</a>
            </li>

            <!-- Next -->
            <li class="page-item" th:classappend="*{hasNext()} ? '' : 'disabled'">
                <a class="page-link" th:href="@{/admin/members(page=${currentPage + 1})}">
                    <i class="bi bi-chevron-right"></i>
                </a>
            </li>

            <!-- Last -->
            <li class="page-item" th:classappend="*{last} ? 'disabled'">
                <a class="page-link" th:href="@{/admin/members(page=*{totalPages})}">
                    <i class="bi bi-chevron-double-right"></i>
                </a>
            </li>
    
        </ul>
    </nav>
    

</main>

<footer th:replace="~{fragments/footer :: footer}"></footer>

</body>
</html>
