<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/header:: header}"></head>
<body>
    <header th:replace="~{fragments/bodyHeader:: bodyHeader}"></header>

    <main class="container">
        <div class="row row-cols-1 row-cols-sm-1 row-cols-md-2">
            <div class="col">
                <h1 class="fw-bold text-body-emphasis">클럽 이름</h1>
                <table class="table">
                    <tbody>
                        <tr>
                            <th scope="row">장소</th>
                            <td colspan="3">서울특별시 서초구 서초동 서초체육관</td>
                        </tr>
                        <tr>
                            <th scope="row">회원수</th>
                            <td>100</td>
                        </tr>
                        <tr>
                            <th scope="row">창립일</th>
                            <td>2020-01-02</td>
                        </tr>
                    </tbody>
                </table>
                <div class="mb-3">
                    <a href="#" class="btn btn-primary my-2 btn-lg me-2">클럽가입</a>
                    <a href="#" class="btn btn-outline-secondary my-2 btn-lg">공유하기</a>
                </div>
                <p>
                    운동합시다!<br>
                    xxxx은 실력에 관계없이 모든 회원이 같이 운동하는걸 권장합니다.<br>
                    <br>
                    ☆ 필수 가입 조건 ☆<br>
                    • 개인장비(라켓/배드민턴화/셔틀콕)보유<br>
                    • 배드민턴 경기 룰 숙지자<br>
                    (점수 카운팅 기본)<br>
                    • 로테이션에 대한 숙지자<br>
                    • 예의범절을 아는 분<br>
                    <br>
                    ☆ 회비 ☆<br>
                    • 분기별 15,000원<br>
                    • 가입시 별도 안내<br>
                    <br>
                    ☆ 가입문의 ☆<br>
                    • 카톡 id : xxxxxxxxx<br>
                    • 오픈톡 : aaaaa<br>
                    • 인스타 : bbbbbb<br>
                    * 초심자 꼭 문의 후 가입<br>
                    <br>
                    * 무응답 회원 무관심 회원 강퇴 됩니다.<br>
                </p>
            </div>
            <div class="col">
                <img src="https://images.unsplash.com/photo-1599474924187-334a4ae5bd3c?q=80&w=1983&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" class="img-fluid rounded object-fit-cover w-100" alt="club-main-img">
            </div>
        </div>
    </main>

    <footer th:replace="~{fragments/footer :: footer}"></footer>
</body>
</html>


