<!DOCTYPE HTML>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
    
<head th:replace="~{fragments/header::header(~{})}"></head>

<body>
<header th:replace="~{fragments/bodyHeader:: bodyHeader}"></header>

<main class="container" style="max-width: 400px;">
    <div class="py-4 text-center">
        <h2>클럽 만들기</h2>
    </div>

    <div class="row g-5">
        <div class="col">

            <form action="/clubs/new" method="post" th:object="${createClubForm}" class="needs-validation" novalidate>

                <div class="row g-3">

                    <!-- 클럽명 -->
                    <div class="col-12">
                        <span class="text-danger"><b>*</b></span>
                        <label th:for="name" class="form-label">클럽명</label>
                        <input type="text" th:field="*{name}" class="form-control validate-input" required
                                th:classappend="${#fields.hasErrors('name')} ? 'border-danger' : ''" />
                        <p th:if="${#fields.hasErrors('name')}" th:errors="*{name}" class="text-danger my-1"></p>
                        <div class="invalid-feedback">클럽명을 입력해주세요.</div>
                    </div>

                    <!-- 지역 -->
                    <div class="col-12">
                        <span class="text-danger"><b>*</b></span>
                        <label th:for="lv1Select" class="form-label">지역</label><br>

                        <div class="row">
                            <!-- 지역 Lv1 -->
                            <div class="col">
                                <select th:field="*{addressLv1}" id="lv1Select" class="form-select validate-input" required
                                        th:classappend="${#fields.hasErrors('addressLv1')} ? 'border-danger' : ''" >
                                    <option value="" selected disabled>==선택==</option>
                                    <th:block th:each="lv1 : ${addressLv1List}">
                                        <option th:value="${lv1.id}" th:text="${lv1.name}"></option>
                                    </th:block>
                                </select>
                                <p th:if="${#fields.hasErrors('addressLv1')}" th:errors="*{addressLv1}" class="text-danger my-1"></p>
                                <div class="invalid-feedback">지역을 선택해주세요.</div>
                            </div>

                            <!-- 지역 Lv2 -->
                            <div class="col">
                                <select th:field="*{addressLv2}" id="lv2Select" class="form-select validate-input" required
                                        th:classappend="${#fields.hasErrors('addressLv2')} ? 'border-danger' : ''" >
                                    <option value="" selected disabled>==선택==</option>
                                </select>
                                <p th:if="${#fields.hasErrors('addressLv2')}" th:errors="*{addressLv2}" class="text-danger my-1"></p>
                                <div class="invalid-feedback">지역을 선택해주세요.</div>
                            </div>
                        </div> <!-- row -->

                        <!-- 지역 Lv3 -->
                        <div class="row mt-2">
                            <div class="col-6"></div>
                            <div class="col-6">
                                <select th:field="*{addressLv3}" id="lv3Select" class="form-select validate-input" style="display: none;"
                                        th:classappend="${#fields.hasErrors('addressLv3')} ? 'border-danger' : ''" >
                                    <option value="" selected disabled>==선택==</option>
                                </select>
                                <p th:if="${#fields.hasErrors('addressLv3')}" th:errors="*{addressLv3}" class="text-danger my-1"></p>
                                <div class="invalid-feedback">지역을 선택해주세요.</div>
                            </div>
                        </div>
                        
                    </div>  <!-- 지역 col -->
                    
                    <!-- 상세주소 -->
                    <div class="col-12">
                        <label th:for="detailAddress" class="form-label">상세주소</label>
                        <span class=".text-secondary"><small>(선택사항)</small></span>
                        <input type="text" th:field="*{detailAddress}" class="form-control">
                    </div>

                    <!-- 약관 -->
                    <div class="col-12">
                        <div class="form-check">
                            <input type="checkbox" th:field="*{hasAcceptedTerms}" class="form-check-input validate-input" required
                                    th:classappend="${#fields.hasErrors('hasAcceptedTerms')} ? 'border-danger' : ''" />
                            <label class="form-check-label" th:for="hasAcceptedTerms">클럽 약관에 동의합니다.</label>
                            <p th:if="${#fields.hasErrors('hasAcceptedTerms')}" th:errors="*{hasAcceptedTerms}" class="text-danger my-1"></p>
                            <div class="invalid-feedback">약관에 동의해야만 클럽을 생성할 수 있습니다.</div>
                        </div>
                    </div>

                </div> <!-- row -->

                <hr class="my-4">

                <div class="d-grid gap-3">
                    <button class="w-100 btn btn-primary" type="submit">클럽 만들기</button>
                    <a class="w-100 btn btn-outline-secondary" href="/" role="button">취소</a>
                </div>
                
            </form>

        </div> <!-- col -->
    </div> <!-- row -->
</main>

<footer th:replace="~{fragments/footer :: footer}"></footer>

<script th:inline="javascript">
    window.MyApp.createForm = {
        addressChildrenMap: /*[[${addressChildrenMap}]]*/ null,
        addressLv1: /*[[${createClubForm.addressLv1}]]*/ null,
        addressLv2: /*[[${createClubForm.addressLv2}]]*/ null,
        addressLv3: /*[[${createClubForm.addressLv3}]]*/ null,
    };
</script>

<!-- 공유 JS 사용 -->
<script src="/js/common/createForm.js" defer></script>

</body>
</html>
