<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<header th:fragment="bodyHeader" class="bg-dark p-3 mb-5">
    <div class="container">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
            <a href="/" class="d-flex mb-2 mb-lg-0 text-white text-decoration-none">
                <span class="fs-4">BadmintonClubs</span>
            </a>

            <!-- 로그인 전 -->
            <ul th:if="${session.loginMember == null}" class="nav col-12 col-lg-auto me-lg-auto mx-5 mb-2 justify-content-center mb-md-0">
            </ul>

            <!-- 로그인 후 -->
            <ul th:if="${session.loginMember != null}" class="nav col-12 col-lg-auto me-lg-auto mx-5 mb-2 justify-content-center mb-md-0">
                <li><a href="/" class="nav-link px-2" th:classappend="${currentPath == '/' ? 'text-white' : 'text-secondary'}">Home</a></li>
                <li><a href="/clubs" class="nav-link px-2" th:classappend="${currentPath == '/clubs' ? 'text-white' : 'text-secondary'}">클럽목록</a></li>
                <li><a href="/members" class="nav-link px-2" th:classappend="${currentPath == '/members' ? 'text-white' : 'text-secondary'}">회원목록</a></li>
                <li><a href="/dummy1" class="nav-link px-2" th:classappend="${currentPath == '/dummy1' ? 'text-white' : 'text-secondary'}">dummy1</a></li>
                <li><a href="/dummy2" class="nav-link px-2" th:classappend="${currentPath == '/dummy2' ? 'text-white' : 'text-secondary'}">dummy2</a></li>
                <li><a href="/dummy3" class="nav-link px-2" th:classappend="${currentPath == '/dummy3' ? 'text-white' : 'text-secondary'}">dummy3</a></li>
            </ul>

            <!-- 로그인 전 -->
            <div th:if="${session.loginMember == null}" class="text-end">
                <a class="btn btn-outline-light me-2" href="/login">로그인</a>
                <a class="btn btn-warning" href="/members/new">회원가입</a>
            </div>

            <!-- 로그인 후 -->
            <div th:if="${session.loginMember != null}" class="dropdown">
                <a href="#" class="d-block text-white link-body-emphasis text-decoration-none dropdown-toggle"
                   data-bs-toggle="dropdown" aria-expanded="false" style="color: white !important;">
                    <span class="me-2" style="line-height: 40px;"><b th:text="${session.loginMember.name}">홍길동</b>님</span>
                    <img src="https://github.com/mdo.png" alt="mdo" width="40" height="40" class="rounded-circle">
                </a>
                <ul class="dropdown-menu text-small">
                    <li><a class="dropdown-item" href="/myPage">마이페이지</a></li>
                    <li><a class="dropdown-item" href="/members/myActivity">내 활동</a></li>
                    <li><hr class="dropdown-divider"></li>
                    <li>
                        <a href="#" class="dropdown-item" onclick="confirmLogout(event);">로그아웃</a>
                        <form id="bodyHeaderLogoutForm" action="/logout" method="post" style="display: none;"></form>
                    </li>
                </ul>
            </div>

        </div>
    </div>

    <script>
        // 로그아웃 재확인 팝업
        function confirmLogout(event) {
            event.preventDefault();
            if (confirm("로그아웃 하시겠습니까?")) {
                document.getElementById('bodyHeaderLogoutForm').submit();
            }
        }
    </script>
</header>
