<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<header th:fragment="bodyHeader" class="bg-dark mb-5 p-3">
    <div class="container">
        <div class="row flex-nowrap justify-content-between align-items-center">

            <div class="col-2">
                <a class="fs-5 text-white text-decoration-none" href="/">BadmintonClubs</a>
            </div>

            <div class="col-8 text-center">
                <a th:if="${currentPath.startsWith('/clubs/')}" class="fs-4 text-white text-decoration-none" href="/clubs/1/detail">XXXXXX클럽</a>
                <div th:if="${currentPath.startsWith('/clubs/') && session.loginMember != null}" class="mt-2">
                    <a href="/clubs/1/home" class="text-decoration-none m-2" th:classappend="${currentPath == '/clubs/1/home' ? 'text-white' : 'text-secondary'}">Home</a>
                    <a href="/clubs/1/detail" class="text-decoration-none m-2" th:classappend="${currentPath == '/clubs/1/detail' ? 'text-white' : 'text-secondary'}">소개</a>
                    <a href="/clubs/1/posts" class="text-decoration-none m-2" th:classappend="${currentPath == '/clubs/1/posts' ? 'text-white' : 'text-secondary'}">게시판</a>
                    <a href="/clubs/1/budget" class="text-decoration-none m-2" th:classappend="${currentPath == '/clubs/1/budget' ? 'text-white' : 'text-secondary'}">회비</a>
                    <a href="/clubs/1/schedule" class="text-decoration-none m-2" th:classappend="${currentPath == '/clubs/1/schedule' ? 'text-white' : 'text-secondary'}">일정</a>
                    <a href="/clubs/1/lesson" class="text-decoration-none m-2" th:classappend="${currentPath == '/clubs/1/lesson' ? 'text-white' : 'text-secondary'}">레슨</a>
                    <a href="/clubs/1/trade" class="text-decoration-none m-2" th:classappend="${currentPath == '/clubs/1/trade' ? 'text-white' : 'text-secondary'}">거래</a>
                    <a href="/clubs/1/members" class="text-decoration-none m-2" th:classappend="${currentPath == '/clubs/1/members' ? 'text-white' : 'text-secondary'}">회원</a>
                </div>
            </div>

            <div class="col-2 d-flex justify-content-end align-items-center">
                <div th:if="${session.loginMember == null}"> <!-- 로그인 전 -->
                    <a class="btn btn-warning me-2" href="/members/new">회원가입</a>
                    <a class="btn btn-outline-light" href="/members/login">로그인</a>
                </div>
                <div th:if="${session.loginMember != null}" class="dropdown"> <!-- 로그인 후 -->
                    <a href="#" class="d-block text-white link-body-emphasis text-decoration-none dropdown-toggle"
                       data-bs-toggle="dropdown" aria-expanded="false" style="color: white !important;">
                        <span class="me-2" style="line-height: 40px;"><b th:text="${session.loginMember.name}">홍길동</b>님</span>
                        <img th:src="${session.loginMember.profileImg != null} ? @{'/upload/' + ${session.loginMember.profileImg}} : @{/images/default_profile.png}" 
                            alt="header-profile-img" width="40" height="40" class="rounded-circle" style="object-fit: cover;">
                    </a>
                    <ul class="dropdown-menu text-small">
                        <li><a class="dropdown-item" th:href="@{'/members/' + ${session.loginMember.id} + '/detail'}">마이페이지</a></li>
                        <li><a class="dropdown-item" href="#">내 활동</a></li>
                        <li><a class="dropdown-item" href="/members">관리자페이지</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li>
                            <a href="#" class="dropdown-item" onclick="confirmLogout(event);">로그아웃</a>
                            <form id="bodyHeaderLogoutForm" action="/members/logout" method="post" style="display: none;"></form>
                        </li>
                    </ul>
                </div>
            </div>

        </div>
    </div>

    <script>
        // 로그아웃 재확인 팝업
        function confirmLogout(event) {
            event.preventDefault();
            if (confirm("로그아웃 하시겠습니까?")) {
                document.getElementById('bodyHeaderLogoutForm').submit();
            }
        }
    </script>
</header>
